aiofiles
Pillow
humanize
hachoir
motor
pyrofork==2.3.45
TgCrypto
dnspython
aiohttp
pyromod==1.5
telethon
instaloader
tiktok_downloader
tiktok-scraper
shazamio
spotipy
TikTokApi
ffmpeg
pyquery
yt-dlp[default]==2024.11.18
beautifulsoup4
fdown-api==0.0.3
tqdm==4.66.5
pytube
requests
loggers
wget
youtube_dl
sent

numpy
olefile
lk21
filetype
tldextract
